@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <p>This is an example project with one <a asp-controller="Home" asp-action="AuthorizedPage" asp-route-foo="bar">CAS Authorized Page</a>.</p>
    <p>CAS is an enterprise single sign-on system managed by <a href="https://www.apereo.org/">Apereo</a>.</p>
    <p>The current protocol reference can be found <a href="https://apereo.github.io/cas/5.2.x/protocol/CAS-Protocol-Specification.html">here.</a></p>
</div>
